#window {
    background-color: rgba(35, 31, 32, 0.80);
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 10px; 
    margin-right: 200px;
}

#input {
    color: rgba(217, 216, 216, 1);
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 20px; 

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(35, 31, 32, 0.80);
}

#input:focus {
    color: rgba(217, 216, 216, 1);
    border: 1px solid rgba(100, 100, 100, 1);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(35, 31, 32, 0.80);
}

#entry {
	font-family: "JetBrainsMono NF";
  font-size: 15px;
	border-radius: 20px;
	margin: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 10px;
}

#entry:focus {
    background: rgba(35, 31, 32, 0.9);
    border: 1px solid rgba(35, 31, 32, 1);
}
